{% extends "base.html" %}
{% block content %}
<h1>Domovská stránka</h1>

<div class="search-container">
    <form method="GET" action="{% url 'search_results' %}">
        <label>
            <input type="text" name="query" placeholder="Hledat události">
        </label>
        <label>
            <select name="filter">
                <option value="all">Vše</option>
                <option value="future">Nastávající akce</option> <!-- Změněný popis -->
                <option value="ongoing_future">Probíhající akce</option> <!-- Změněný popis -->
                <option value="past">Minulé akce</option> <!-- Přidaná možnost -->
            </select>
        </label>
        <button type="submit">Hledat</button>
    </form>
</div>
{% endblock %}
