{% extends "base.html" %}
{% block content %}
<h1>Seznam událostí</h1>

<div class="search-container">
    <form method="GET" action="{% url 'search_results' %}">
        <input type="text" name="query" placeholder="Hledat události">
        <select name="filter">
            <option value="all">Vše</option>
            <option value="future">Nastávající akce</option>
            <option value="ongoing_future">Probíhající akce</option>
        </select>
        <button type="submit">Hledat</button>
    </form>
</div>

<ul>
    {% for event in events %}
    <li class="event-item">
        <div class="event-details">
            <a href="{% url 'event_detail' event.id %}" class="event-title">{{ event.title }}</a>
            <p>{{ event.start_date|date:"d. m. Y"}} - {{ event.end_date|date:"d. m. Y" }}</p>
            <p>{{ event.location }}</p>
            <p>{{ event.description }}</p>
        </div>
        {% if event.image %}
            <img src="{{ event.image.url }}" alt="{{ event.title }} image">
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
